body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: #f1eeee;
    position: center;
    font-family: 'Open Sans', sans-serif;
    background-image: url('cloud_pictures.jpg');
    font-size: 120%;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .card {
    background: #0f0f0fd0;
    position: center;
    color: rgb(16, 15, 15);
    padding: 2em;
    border-radius: 30px;
    width: 100%;
    max-width: 420px;
    margin: 1em;
  }